<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<body>
    <div th:fragment="menuFragment">
        <div th:unless="${#lists.isEmpty(customers)}">
            <table>
                    <tr>
                    <th th:text="#{customer.name}">Name</th>
                </tr>
                <tr th:each="cus : ${customers}">
                    <td th:text="#{menu.displayCustomer(${cus.name},${cus.phone})}">Jean Dupond (01 02 03 04 05)</td>
                </tr>
            </table>
        </div>
    </div>
</body>
</html>