<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml11-thymeleaf-spring3-3.dtd">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title th:text="#{Title}"></title>
    <link rel="stylesheet" href="../../css/style.css" th:href="@{/css/style.css}"/>
</head>
<body>
<div id="header" th:include="fragment/header::headerFragment"></div>
<div id="menu" th:include="fragment/menu::menuFragment" ></div>
<div id="main" th:include="fragment/main::mainFragment" ></div>
<div id="footer" th:include="fragment/footer::footerFragment"></div>
</body>
</html>
